[submodule "subprojects/Paper2"]
	path = subprojects/Paper2
	url = https://github.com/mokafolio/Paper2.git
[submodule "subprojects/Stick"]
	path = subprojects/Stick
	url = https://github.com/mokafolio/Stick.git
[submodule "subprojects/CrunchLuaSol"]
	path = subprojects/CrunchLuaSol
	url = https://github.com/mokafolio/CrunchLuaSol.git
[submodule "subprojects/Crunch"]
	path = subprojects/Crunch
	url = https://github.com/mokafolio/Crunch.git
[submodule "subprojects/Tarp"]
	path = subprojects/Tarp
	url = https://github.com/mokafolio/Tarp.git
[submodule "subprojects/StickLuaSol"]
	path = subprojects/StickLuaSol
	url = https://github.com/mokafolio/StickLuaSol.git
